anyio==3.6.2
asgiref==3.4.1
backcall==0.2.0
cachetools==5.3.3
charset-normalizer==3.3.2
click==8.0.4
colorama==0.4.5
contextlib2==21.6.0
contextvars==2.4
dataclasses==0.8
decorator==5.1.1
fastapi==0.83.0
google-ai-generativelanguage==0.6.1
google-api-core==2.18.0
google-api-python-client==2.125.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-generativeai==0.5.0
googleapis-common-protos==1.63.0
graphviz==0.19.1
grpcio==1.62.1
grpcio-status==1.62.1
h11==0.13.0
httplib2==0.22.0
httptools==0.3.0
idna==3.7
immutables==0.19
importlib-metadata==4.8.3
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.17.2
memory-profiler==0.61.0
parso==0.7.1
pickleshare==0.7.5
prompt-toolkit==3.0.36
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.8
pyasn1==0.6.0
pyasn1_modules==0.4.0
pydantic==1.9.2
Pygments==2.14.0
pyparsing==3.1.2
python-dotenv==0.20.0
PyYAML==6.0.1
requests==2.31.0
rsa==4.9
six==1.16.0
sniffio==1.2.0
starlette==0.19.1
tqdm==4.66.2
traitlets==4.3.3
typing_extensions==4.1.1
uritemplate==4.1.1
urllib3==2.2.1
uvicorn==0.16.0
watchgod==0.7
wcwidth==0.2.13
websockets==9.1
wincertstore==0.2
zipp==3.6.0
